

<h3><% @user ||= current_user %><h3>
<li>
  <%= image_tag user.avatar, size: "50x50" %>
  <%= link_to user.full_name, user %>

 <div> 
      <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t ".following" %>
  </a>
</div>

</li>